.masthead {
    height: 100vh;
    background-image: url(../img/masthead_sanpietro.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    opacity: 95%;
    animation: zoomOut 10s ease-out forwards;
    z-index: 0;
    overflow-x: hidden; /* Evita l'overflow orizzontale */
}



/* Stili per il contenuto al centro */
.masthead-content {
    position: relative;
    z-index: 1; /* Assicura che il contenuto sia sopra l'immagine di sfondo */
}

@keyframes zoomOut {
    from {
        transform: scale(1.0); /* Scala iniziale (normale) */
    }
    to {
        transform: scale(1.05); /* Scala finale (allontanamento meno pronunciato) */
    }
}

/* Stili per il testo */
.masthead h1 {
    font-size: 3.5rem;
    color: rgba(9, 6, 0, 0.811);
    text-shadow: 6px 0 #f6af71dd, 0 2px #f6af71dd, 2px 0 #f6af71dd, 0 -2px #f6af71dd;
}

.masthead h2 {
    font-size: 2.5rem;
    color: rgba(5, 5, 4, 0.781);
    text-shadow: 4px 0 #f6af71dd, 0 1px #f6af71dd, 1px 0 #f6af71dd, 0 -1px #f6af71dd;
}
@media (min-width: 992px) {
    .masthead h1 {
        font-size: 6.5rem;
        
    }
}
@media (min-width: 992px) {
    .masthead h2 {
        margin-top: -30px;
        
    }
}
