.navbarCustom{
    height: 90px;
    width: 100%;
    padding: 0 20px;
    background-color:rgb(238, 238, 238);


}
.bgLight{
    background-color: rgba(35, 34, 34, 0.46);
    font-size: large;
}
.logoCustom{
    color: rgba(244, 241, 241, 0.938);
    font-size:x-large;
    border-bottom:5px solid #f8ec07;
}
.logoCustom:hover{
    color: #f8ec07;
}
.prenotaCustom{
    color: rgb(245, 241, 241);
    font-size: x-large;
}
.prenotaCustom:hover{
    color: #f8ec07;
    text-decoration:underline

}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.btnCustom{
        color: yellow ;
        width: 55px;
        font-size: 28px;

    } 

 
    .custom-button:hover {
        background-color: #000; 
        color: #FFD700;
    }
.navbar-nav .nav-link {
    color: white;
} 


.navbar-nav .nav-link:hover {
    color: yellow;
}
#chiama-prenota {
    z-index: 1; /* Imposta un valore di z-index più alto per il tasto Chiama e Prenota */
}
.index{
    z-index: 1;
    position: fixed;
    border-radius: 0%;
    background-color: rgba(6, 122, 6, 0.707);
}
.indexLogout{
    z-index: 1;
    position: fixed;
    border-radius: 0%;
    background-color: rgba(248, 43, 43, 0.707);
    right: 0;
    height: 50px;
    border-radius: 10%;

}
.flag-custom {
    background-color: #00000000;
    border: none;
}
.flag-custom2 {

    width: 100%; /* Occupa tutta la larghezza del dropdown */
    padding: 0.4rem; /* Padding per le bandiere */

    display:flex;
    align-items: center;
    justify-content: center;

}

