.navbarCustom{
    height: 90px;
    width: 100%;
    padding: 0 20px;
    background-color:rgb(238, 238, 238);


}
.bgLight{
    background-color: rgba(35, 34, 34, 0.46);
    font-size: large;
}
.logoCustom{
   height: 90px;
   width: auto;
   margin-top:-8%;
}
.logoCustomF{
    height: 90px;
    width: auto;
    margin-left: 37%;
}

.logoCustomM{
    height: 210px;
    width: auto;
    margin-left: 7%;
    margin-bottom: -10%;

}
@media (min-width: 992px) {
    .logoCustomM {
        height: 200px;
        width: auto;
        margin: 0px;
    }
}
@media (min-width: 992px) {
    .logoCustom {
        margin-left: 30%;
        margin-top: 0%;
        
    }
}
@media (min-width: 992px) {
    .logoCustomF {
        margin-left: 40%;
        margin-top: 0%;
        
    }
}
.logoCustom:hover{
    color: #f8ec07;
}
.prenotaCustom{
    color: rgb(245, 241, 241);
    font-size: x-large;
}
.prenotaCustom:hover{
    color: #f8ec07;
    text-decoration:underline

}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .amita-regular {
    font-family: "Amita", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amita-bold {
    font-family: "Amita", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  
.btnCustom{
        color: #f6af71a7 ;
        width: 55px;
        font-size: 28px;

    } 

 
    .custom-button:hover {
        background-color: #000; 
        color: #FFD700;
    }
.navbar-nav .nav-link {
    color: white;
} 


.navbar-nav .nav-link:hover {
    color: yellow;
}
#chiama-prenota {
    z-index: 1; /* Imposta un valore di z-index più alto per il tasto Chiama e Prenota */
}
.index{
    z-index: 1;
    position: fixed;
    border: none;
    border-radius: 0%;
    background-color: rgba(6, 122, 6, 0.707);
    margin-top: 52px;
    border-radius: 3%;
}
.indexLogout{
    z-index: 1;
    position: fixed;
    border-radius: 0%;
    background-color: rgba(248, 43, 43, 0.707);
    right: 0;
    height: 50px;
    border-radius: 10%;

}
.flag-custom {
    background-color: #00000000;
    border: none;
}
.flag-custom2 {

    width: 100%; /* Occupa tutta la larghezza del dropdown */
    padding: 0.4rem; /* Padding per le bandiere */
    
    display:flex;
    align-items: center;
    justify-content: center;

}



